[2016-05-18 14:23] davelab6 opened #86 "Maintain FLOSS Manuals "Make Your Own Sugar Activities""
Lets consolidate the developer docs here, by importing and maintaining that text here

[2016-05-18 14:25] davelab6 opened #87 "Stress the importance of testing the platform variable"
From http://lists.sugarlabs.org/archive/sugar-devel/2016-May/052710.html and replies, it seems some dependencies must be changed based on XO model and on 32 or 64 bit architechture.

During GCI, Walter set up a platform variable that activities can test to determine the environment. This will become increasingly important to developers, so should be stressed (and perhaps part of Hello World.)

The

[2016-05-18 14:35] davelab6 opened #89 "Is docs.md still current?"
Is https://github.com/sugarlabs/sugar-docs/blob/master/docs.md still current?

I suggest transitioning the website to http://grow.io - its python and has been l10n

And then we can get away from these weird "page.md.html" URLs :)

[2016-05-18 14:36] davelab6 commented on #89
I suggest transitioning the website to http://grow.io - its python and has been l10n

[2016-05-18 14:36] davelab6 commented on #89
And then we can get away from these weird "page.md.html" URLs :)

[2016-05-19 14:46] davelab6 opened #90 "Integrate User:Jlew/XO_Workflow info"
https://wiki.sugarlabs.org/go/User:Jlew/XO_Workflow has some good tips

[2016-05-25 22:46] davelab6 opened #91 "Improve git ignore guidance"
Per @quozl in https://github.com/iamutkarshtiwari/Flappy-Birds/issues/1#issuecomment-221725940 the py docs should say,
- [ ] Updates docs with a note like,

- [ ] Update docs with a guide to setting up a good `.gitignore` and include this in the hello-world repo
- [x] Improve `python setup.py dist_xo` to use `.gitignore`

[2016-05-26 23:57] davelab6 opened #92 "Import Sugar_iconify.py docs"
https://wiki.sugarlabs.org/go/Sugar_iconify

[2016-05-28 15:42] davelab6 opened #93 "Improve telepathy docs"
https://www.sam.today/blog/telepathy-10-lists.html lists some issues with the way telepathy was used in activities; this suggests we can improve our docs with telepathy guidance :)

[2016-05-29 17:44] davelab6 opened #94 "Add section about testing"
http://lists.sugarlabs.org/archive/sugar-devel/2014-January/046700.html explains how to set up test in an Activity, and this should be integrated into the developer documentation

[2016-06-14 01:42] davelab6 opened #95 "Improve osbuild shell docs"
See confusion at https://github.com/travis-ci/travis-ci/issues/6152#issuecomment-225744438 about this

[2016-06-14 19:52] davelab6 commented on #86
It would be great to write the docs in a way that highlights how to write sugar activities from within a sugar desktop

[2016-06-14 19:58] walterbender commented on #86
Do you think it worthwhile to write up how to create a Sugar Activity from Turtle Blocks? and/or Pippy? Those are the low-hanging fruit from within Sugar itself. Of course 'yum install emacs' is my development environment of choice.

[2016-06-14 20:01] samdroid-apps commented on #86
Maybe we should actually put the MYOSA content into the sugar3 docs?  Maybe the sugar3 docs need to be visible from Pippy?

I think that it would be very helpful to put the docs and the code together in one place.  Sugar3 docs already have lots of examples and stuff, they just lack a good index, and of course there is no tutorial.

[2016-06-14 20:44] walterbender commented on #86
How do we currently provide access Sugar3 docs from Sugar?

[2016-06-14 21:17] davelab6 commented on #86
Did the 'Develop' activity ever appear?

cc @eliheuer

[2016-06-21 03:21] davelab6 opened #96 "Explain how to document an activity's codebase"
The developer docs should provide

- [ ] a guide to an activity's codebase should best be documented;
- [ ] examples of 3 activities with great code documentation;

See 2016-June `[Sugar-devel] What to use for documenting new sugar activities?` thread for discussion

[2016-06-21 12:07] davelab6 opened #97 "Port help.sl.o contents"
https://help.sugarlabs.org/en/index.html has great development docs that should be ported here

[2016-06-21 12:10] godiard commented on #97
help.sugarlabs.org is the end user documentation, what are the devel docs you refer?

[2016-06-21 12:16] davelab6 commented on #97
The educational purpose of the project is to merge users and developers

[2016-06-21 12:24] godiard commented on #97
Looks like a oversimplification, but deserves a better space to discuss it :)

[2016-06-21 12:53] davelab6 commented on #97
A priori, I would say: What is the purpose of the view source option, if
not for users to become developers?

But 10 years in, I wonder what the actual effects were. Do any sugar users
actual develop within sugar?

[2016-06-21 13:24] godiard commented on #97
The purpose is make easier to users understand how the activities work, enable them to modify the activities if they want, and in the case they are interested, help them to become developers. But, some users will become developers, other musicians, other writers and so, and IT'S OK.

In the practice, a little group of our users grow up to be great developers (and there are a lot of contributions t

[2016-06-21 13:59] walterbender commented on #97
Do we really want the XO documentation mixed into the Sugar documentation?

regards.

-walter

On Tue, Jun 21, 2016 at 8:07 AM, Dave Crossland <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http://www.sugarlabs.org>

[2016-06-21 23:01] davelab6 opened #99 "Explain MIME types for object chooser dialog"
Yash asked on sugar-devel,

@godiard explained, that one must set the mime types your activity can open and then request the object chooser to open these mime types, with more info at http://godiard.blogspot.com.ar/2013/07/sugar-programming-improovements-in.html

That question should be explained in these docs, using the info in that blog post :)

[2016-12-17 15:44] Hrishi1999 opened #102 "Missing readme.md in repos"
The following repos doesn't have a readme.md file.

get-books-activity
activity-i-can-read
jukebox-activity
browse-activity
maze-activity
record-activity
AEIOU
clipart
story
imageviewer-activity
iknowmyabcs
biorhythm
AnalyzeJournal
physics
colordeducto (README.txt and not README.md)
fractionbounce
sugar-datastore
sugar-toolkit
sugar-web
Buttons-and-Scissors
paint-activity
activity-abacus
finance-a

[2016-12-18 07:49] quozl commented on #102
Yes, lots of repositories don't have a README.md file, but why add it as an issue to *this* repository?  sugar-docs is for the content on developer.sugarlabs.org.

[2016-12-18 08:48] Hrishi1999 commented on #102
@quozl, yes. My task said to make a list of repos missing README.md, I was to submit it As a document, but then Walter Bender said to open an issue here. So I did it.

[2016-12-18 21:30] quozl commented on #102
@Hrishi1999, thanks.

@walterbender, why sugar-docs? :grin:

[2016-12-19 02:05] walterbender commented on #102
@quozl , it seemed a natural place to begin: a document describing our documentation. The essence of the exercise is to provide a simple example of a README.md that both describes the content of the repo and the process by which people can contribute (my experience in dealing with newbies suggests that unless you know in advance to go to developer.sugarlabs.org, it is not obvious how to contribute

[2016-12-19 03:48] quozl commented on #102
@walterbender, okay, thanks.  For project-wide issues, suggest you use a repository for discussion; see how it is done on ForthHub https://github.com/ForthHub with a pinned repository listed first, containing issues.

[2016-12-19 04:02] walterbender commented on #102
I was not aware of the pinned repo mechanism. And maybe a discussion thread
would be a useful addition to sugar-devel. But I don't think it is a
replacement for adding README.md files to the top level of each repo or a
solution to the newbie issue I raised.

On Sun, Dec 18, 2016 at 10:48 PM, James Cameron <notifications@github.com>
wrote:

--
Walter Bender
Sugar Labs
http://www.sugarlabs.org
<http

[2016-12-19 04:07] quozl commented on #102
No, it's about where to put the issue.  It will be lost in sugar-docs.  Yes, README.md files are helpful.

[2017-01-17 14:30] EmilyOng opened #108 "Inaccessible Link"
Under Sugar Web, Components Documentation links to https://developer.sugarlabs.org/sugar-web/README.md.html, which generates an ERROR 404 NOT FOUND.
`nginx/1.10.1`

[2017-01-21 08:06] Hrishi1999 commented on #102
@quozl @walterbender should we start adding readme.md files now?

[2017-02-27 22:07] heatherbooker opened #112 "what-can-i-do lists outdated 'top ten tickets'"
The [What can I do?](https://developer.sugarlabs.org/what-can-i-do.md.html) page links to the "[Top ten tickets for the week](https://github.com/i5o/sugar-irc/wiki/Top-Ten-Tickets-This-Week)", which seems to not be maintained.

I propose its removal to prevent confusion for new wannabe contributors (heh, guess how I found this issue ><). I will submit a PR for this shortly.

[2017-02-27 22:19] quozl commented on #112
Good catch.  Yes, remove.  I don't think there are enough testers or users of the ticket numbers in mailing list, commits, or IRC, to be able to justify a top ten list.

@i5o, I'm curious; what's the story there; the page links to a Wiki attached to an IRC robot which once updated the page?  Fascinating.

[2017-02-27 22:41] samdroid-apps commented on #112
Merged.

@quozl I'm pretty sure that I created to that page ages ago :)  But I've let it slide.

[2017-02-27 22:41] #112 closed

[2017-02-27 22:52] quozl opened #114 "what-can-i-do task lists brief, yet we have excessive duplication and redundancy"
What a wonderful problem to have!  We have several lists of tasks that can be done;

* [project ideas for Outreachy engagement](https://wiki.sugarlabs.org/go/Outreachy),
* [project ideas for Google Summer of Code engagement](https://wiki.sugarlabs.org/go/Summer_of_Code/2017),
* [release engineer's feature tracking](https://wiki.sugarlabs.org/go/Features), apparently unmaintained after position rot

[2017-02-27 22:53] quozl commented on #112
@samdroid-apps, oh, thanks, sorry, the URL had i5o in it, so I assumed.

[2017-03-04 19:21] ahhda opened #115 "what-can-i-do.md has a broken link"
The file what-can-i-do.md has a link to a file activity.md.html (Write a new sugar activity) which no longer exists.
It needs to be replaced with desktop-activity.md.html and web-activity.md.html.

[2017-03-15 08:29] #115 closed

[2017-03-21 17:42] walterbender opened #119 "broken formatting in dev-environment.md"
In adding <a name=""> fields, the heading style associated with === no longer seems to be applied properly (worked fine in my previewer but not on github itself). The impacted lines are:

Setup a development environment - packaged style
===============================

and

Setup a development environment - native style
===============================

[2017-03-22 01:29] quozl opened #121 "Accessibility; keyboard navigation does not work"
When opening any page on developer.sugarlabs.org, the keyboard navigation feature does not work.  This does not comply with accessibility guidelines.

Please fix the generated HTML or CSS so that keyboard scrolling is available after page load.

Occurs on Browse-200, Chromium-53, Firefox-52, and most other browsers.

Does not affect mouse-wheel or touchscreen scrolling.

Workaround is to click in

[2017-04-22 00:09] #119 closed

[2017-04-22 00:16] quozl commented on #108
e195d58f1eed938eecd45248998b6e5b9995c78a

[2017-04-22 00:16] #108 closed

[2017-04-22 02:46] walterbender opened #123 "add discussion of repository field in activity.info file"
When describing the contents of the activity.info file, we neglect to mention the repository field. (Would be good to add this field to the hello-world activity.info file as well.)

[2017-04-22 02:50] tony37 commented on #123
Hi Walter,

Do we have an official description of the activity.info file. In reading
them across all of the activities, there seems to be no standard. It
should be possible using zipfile to write a python script to perform a
'lint-style' review of the activities once we have an agreed upon
standard. For the activities on GitHub, the repository field can be
filled in automatically. For the others,

[2017-04-22 03:00] quozl commented on #123
Here's the standard; http://wiki.sugarlabs.org/go/Development_Team/Almanac/Activity_Bundles#.info_file_format

Easy to find, just search for the keywords.

Also sugar-toolkit-gtk3 bundlebuilder.py has the implementation details, and activity authors would be expected to read the documentation for it, see https://developer.sugarlabs.org/sugar3/sugar3.activity.bundlebuilder.html

[2017-04-22 03:02] #123 closed

[2017-04-22 03:28] tony37 commented on #123
Hi, James

The .info_file_format is very helpful.

However, this example needs some explanation:

exec = sugar-activity webactivity.WebActivity -s

The -s option is not mentioned.

While webactivity.Webactivity could refer to a clas WebActivity in
webactivity.py, this use in an example is misleading.

Further, it appears that web activities use

exec = sugar-activity-web

which is not mentioned.

[2017-04-22 03:35] quozl commented on #123
Off-topic for this issue.  It's a Wiki, get editing.

[2017-04-22 03:35] tony37 commented on #123
Sorry - assumed this was an example, didn't see it was Browse. I need to read before I leap.

[2017-04-22 08:17] Hrishi1999 commented on #92
@quozl Close this issue?
[https://github.com/sugarlabs/sugar-docs/blob/master/sugar-iconify.md]

[2017-04-22 08:21] quozl commented on #92
Agreed, thanks.

[2017-04-22 08:21] #92 closed

[2017-11-16 15:31] GeekyShiva commented on #114
Hi @quozl  I am planning to mentor for this and Get this completed during Google Code-In, Please specify what exactly you wish to achieve on this issue. It would be really helpful

[2017-11-16 21:42] quozl commented on #114
Thanks.  I've not seen you active with Sugar Labs, so you are unlikely to be able to effectively mentor for this task at the requirements level.  Work with a mentor who has extensive experience at Sugar Labs.  You will be helpful for detailed design and implementation, so keep engaged.

At a requirements level, each list of tasks has a historical context in the community.  This context should be r

[2017-11-17 16:48] GeekyShiva commented on #114
That's great! Do you suggest someone specific from sugar community whose help I can take to get this task completed during Google Code-In ?

[2017-11-17 16:51] samswag commented on #114
I can help you, if you want.

On Fri, Nov 17, 2017 at 5:48 PM, Shivank Shekhar <notifications@github.com>
wrote:

[2017-11-23 20:00] quozl opened #126 "For experts instructions still attracts people who aren't experts"
@iamutkarshtiwari reported difficulty following the native build instructions on Ubuntu 16.04;

* did not know `apt` requires `root`; add sudo prefix,
* did not know that `apt build-dep` requires `deb-src` lines added to `/etc/apt/sources.list`; add a reference to Ubuntu or Debian documentation or `man sources.list`.

It may be better to remove this section rather than have it duplicate documentat

[2017-12-22 19:57] Shivamgera commented on #126
@quozl  I would like to work on this issue.

[2017-12-22 21:39] quozl commented on #126
That's great.

What's your experience level; what other technical documentation have you written.

Were you able to follow the native build instructions yourself?  It is through being familiar with similar processes that you can isolate the essential details for others to use.

https://developer.sugarlabs.org/dev-environment.md.html#native%20sugar

Remember we do not want to fall into the trap of

[2017-12-30 15:32] hacktivist123 opened #129 "Redesign the Documentation"
The Webpage looks too abstract it should be redesigned

[2017-12-31 22:13] quozl commented on #129
I've had another look at https://developer.sugarlabs.org/ and don't know what you mean by being too abstract; could you tell us more?

[2018-01-01 09:43] hacktivist123 commented on #129
Its too simple, it needs some kind of colour enhancement and brilliant
navigation scheme, i will send a redesign soon.
 i am working on it.

On 31 December 2017 at 23:13, James Cameron <notifications@github.com>
wrote:

[2018-01-01 22:10] quozl commented on #129
Thanks for your interest.  But a new design by you?  My initial response is _No thanks_; as far as I can see you haven't used the documentation as a _developer_ on Sugar, so you aren't the target audience, and you may not know what that audience needs.

You mentioned it being simple or abstract; it is technical documentation, the audience is Python or JavaScript developers; so it needs to be acces

[2018-01-03 09:36] Pro-Panda opened #130 "desktop-activity code not being displayed"
**File:** [desktop-activity](https://github.com/sugarlabs/sugar-docs/blob/master/desktop-activity.md)

**Type:** Bug

**Details:** The code in desktop-activity is not being displayed on the [webpage](https://developer.sugarlabs.org/desktop-activity.md.html). It's missing the opening and closing " ` "(grave accent) to highlight code in markdown.
The image "activity-helloworld.svg" is also not being

[2018-01-03 14:04] #130 closed

[2018-01-03 15:26] ritjoe opened #132 "building sugar-docs without sugar-build?"
* We have several ways of setting up development environments that do not use sugar-build in any way and
  * We have removed mention of the sugar-build approach to setting up a development environment

So, some documentation about how to run local tests of changes to the documents might be prudent.

There are many tools for converting Markdown to HTML, but subtle difficulties can arise due to diff

[2018-01-03 15:35] ritjoe commented on #132
Sorry, I get frustrated sometimes when mention is made of components without an explicit link to their code or repository or whatever is appropriate, so here's https://github.com/sugarlabs/sugar-build

I think that covers everything mentioned above that can be specified that way.

[2018-01-03 15:57] Pro-Panda commented on #121
I would like to work on this issue.
Kindly guide me to what is being used to build the repository into the [website](https://developer.sugarlabs.org) ?
Also asked in #132 and irc
Thanks

[2018-01-03 16:16] walterbender commented on #121
Seems to be a matter of grabbing the focus upon loading a page into the container div.

[2018-01-03 19:47] quozl commented on #132
sugar-docs deployment is triggered by a package maintained in Sugar
Labs infrastructure organisation on GitHub.

https://github.com/sugarlabs-infra/developer-rebuilder

Looks like it uses pygments, not sugar-build?  Not sure.

systems@ mailing list may be able to help.

@codewiz, @samdroid-apps.

[2018-01-04 02:32] ritjoe commented on #132
On Wed, Jan 03, 2018 at 11:47:58AM -0800, James Cameron wrote:

OK, thanks, that was what I needed to come out the other end of this rabbit hole.

Just to map my path, roughly, lest I lose track of it once I fall asleep, as per

  https://github.com/sugarlabs/sugar-docs/blob/master/docs.md

one was meant to run 'docs' from within sugar-build.

I'm guessing that meant running this:

  https://githu

[2018-01-04 06:56] quozl commented on #132
Well done!  I did not know the word _docker_ had been overloaded; every time someone mentioned it I had presumed they were talking about the container application runtime.  Makes a lot more sense now.  `doc-script.js` on the deployed site has reference to the other docker.

And then for _sugar-build_ to be overloaded as also a platform for testing changes to _sugar-docs_, that's so funny or sad; n

[2018-01-04 09:43] samdroid-apps commented on #132
Great tracking that down @ritjoe; I meant to send a reply but it appears that github didn't get it.

That repo unnecessarily confusing due to the name conflict with docker.

You should be able to run the docker (docs) script by:

[code]

You can use the command line from here https://github.com/sugarlabs-infra/developer-rebuilder/blob/master/main.py#L19-L20 (when your current working directory is

[2018-01-04 09:44] samdroid-apps commented on #132
FYI @quozl; the docs are stored on freedom.sugarlabs.org in `/home/sam/sugar3-doc/sugar3/`.  And the config is `/etc/nginx/sites-enabled/developer.sugarlabs.org`.  Feel free to overwrite that folder or change the config to a different one.

[2018-01-04 20:35] quozl commented on #132
@samdroid-apps, thanks, but are you sure about it not running?  When we make commits the site changes.  I agree that `/sugar3` doesn't update, but that's a different thing, yeah?  I've notes on how to update `/sugar3` by hand.

[2018-01-04 23:40] samdroid-apps commented on #132
@quozl - thanks I haven't kept up with where this new site is.  For the record; the developer reloader container is active.  The code for that container is quite different on freedom than on the git repo; it provides a webhook server rather than that Kafka queue.

[2018-01-04 23:57] quozl commented on #132
@samdroid-apps, thanks.  Noted it at https://github.com/sugarlabs-infra/developer-rebuilder/issues/2 but I've no write access to the repository.  I've access to freedom; where is it on freedom?

[2018-01-05 15:07] pipix51 commented on #114
I did a sample task list which currently includes only the project ideas for Outreachy and GSoC engagement (they are exact replicas). The link to the list is https://github.com/pipix51/sugar-docs/blob/master/what-can-i-do.md . I did a few changes to the list-

- I took the table from the two wiki pages and condensed the task descriptions to allow for easier reading.
- I also removed some tasks whi

[2018-01-05 21:00] quozl commented on #114
I see what you've done is to take two or the seven lists from outside this repository and edit them into this repository.  Thanks, it looks good.

I had said before;

For the two lists you've acquired, what was the outcome of;
- [ ] recognising the historical context of the list; who made it, when, why, how is it maintained,
- [ ] identifying the users of the list,
- [ ] guiding these users to acc

[2018-01-10 22:12] quozl opened #138 "Add support for markdown tables"
When we add tables we have to use HTML instead of markdown.  https://github.com/sugarlabs/sugar-docs/pull/135 is an example.

How it works now; the [markdown source](https://github.com/sugarlabs/sugar-docs) is [converted](https://github.com/sugarlabs/docker) by a [rebuilder](https://github.com/sugarlabs-infra/developer-rebuilder).  The converter is an old version of _docker_ and depends on an old

[2018-02-02 01:50] ritjoe opened #140 "Setup a development environment"
Two lines below the table the link for setting up a development enviroment points to

https://developer.sugarlabs.org/dev-environment.md

Rather than point it at the corresponding html file by appending .html, we should probably just point it towards

https://github.com/sugarlabs/sugar/blob/master/docs/development-environment.md

as per our current approach.

Pull request to effect this is on its

[2018-02-02 01:52] ritjoe commented on #140
@quozl beat me to it with https://github.com/sugarlabs/sugar-docs/commit/39771a1b589c5929eda41c450f8e79dfe4488cef

[2018-02-02 01:52] #140 closed

[2018-02-05 12:38] walterbender opened #142 "sugarlabs.github.io ???"
The reason I have not migrated Music Blocks to the sugarlabs project on github is due to the fact that we have not yet set up sugarlabs.github,io.

The basic idea would be to write some scripts to do the following:

(1) Build a landing a page for sugarlabs.github.io
(2) The content of this page should be driven by the README.md files on the various Sugar Labs repositories;
(3) Artwork can be extra

[2018-02-05 22:58] quozl commented on #142
Not having Music Blocks repository in the sugarlabs organisation need not block on this, so I've forked it for the time being.  We can delete it later if not needed.

[2018-02-13 21:00] Pratul1997 opened #143 "Some links not present"
I found few of the link on contribution.md file not working.

- https://github.com/sugarlabs/sugar-docs/blob/master/web-activity.md.html
- https://github.com/sugarlabs/sugar-docs/blob/master/desktop-activity.md.html
- http://git-scm.com/book/en/Git-Tools-Rewriting-History#Changing-Multiple-Commit-Messages

[2018-02-13 21:09] #143 closed

[2018-02-13 21:34] quozl commented on #138
With the move away from sugarlabs.org hosting for this content, the issue can be closed.  GitHub markup has table support.

[2018-02-13 21:34] #138 closed

[2018-02-13 21:34] quozl commented on #132
WIth the move away from sugarlabs.org hosting, building of sugar-docs is no longer on any critical path, so we can treat this issue as completed.

[2018-02-13 21:34] #132 closed

[2018-02-13 21:35] quozl commented on #129
We've moved this content to be hosted by GitHub repository view directly.

[2018-02-13 21:35] #129 closed

[2018-02-13 21:37] quozl commented on #121
With the move to GitHub hosting, this is no longer a problem.

[2018-02-13 21:37] #121 closed

[2018-02-13 21:37] quozl commented on #114
Reviewed, still a problem.

[2018-02-13 21:39] quozl commented on #102
Still a problem, and amusingly the list of repositories that don't have a README.md continues to be hidden here, over a year later.  :grinning:

[2018-02-13 21:40] quozl commented on #97
Consensus seems that we do not wish to tightly mix developer documentation with user documentation.

[2018-02-13 21:40] #97 closed

[2018-02-13 21:50] quozl commented on #95
With sugar-build and osbuild no longer maintained, and removed from developer documentation, the issue can be closed.

[2018-02-13 21:50] #95 closed

[2018-02-13 21:51] quozl commented on #89
Updated.  d8e22068aca63a410a19680a0d0ba02a74ab6844.

[2018-02-13 21:51] #89 closed

[2018-03-11 23:43] quozl opened #145 "Activity Port to Python 3 Checklist"
We need a "Activity Port to Python 3" checklist , for example;

* install the Python 3 Sugar Toolkit for GTK+ 3,
* change `sugar-activity` to `sugar-activity3` in `activity/activity.info`,
* change any `#!` from `python2` to `python3`,
* port to Python 3,
* run flake8 and fix things,
* test.

[2018-03-14 21:31] quozl commented on #145
I don't know, tell me more?  My preference is to work with whatever version of Python 3 is included with latest release of Debian, Fedora, or Ubuntu.  Those systems ship a `/usr/bin/python3`, so there's no real need to refer to minor version.

[2018-03-15 04:41] Pro-Panda commented on #145
I looked at the changelogs of the past few releases of Python 3.
I agree that this shouldn't cause a problem. I think it would be similar to having different Gtk versions

[2018-03-28 02:02] vipulgupta2048 commented on #102
I am currently working on the migration of Wiki Activities to git [WikiPort] for GSoC 2018.
This seems like a nice place to start my work since all the activities mentioned here would have no README.md hence less work for me, and fewer chances of content getting duplicated. Nice, I found this issue.

[2018-03-28 02:24] quozl commented on #102
But the list is out of date, from December 2016.  You had best use the GitHub API or clone each repository to determine the current state of affairs.  :smirk_cat:

[2018-03-28 02:47] vipulgupta2048 commented on #102
That's what I was intending to do in the first place :laughing:  Going forward then. Once the checklist and the formats are ready, I will start submitting PR :+1: :hatching_chick:
Also @quozl , should I update the list, since I would be submitting a report on the state of activities-wiki as per the deliverables in my proposal mentioned?

[2018-03-28 02:55] quozl commented on #102
No, I don't think an updated list would be helpful, as it would age just as the original list that @Hrishi1999 posted above.  Instead, you might paste here a Python script using the GitHub API that generates the list?  @Hrishi1999 may have such a script, but I don't know where it is.

[2018-03-28 09:38] vipulgupta2048 commented on #102
Roger that. Making one now.

On Wed, Mar 28, 2018 at 8:25 AM, James Cameron <notifications@github.com>
wrote:

--
Cordially,
Vipul Gupta
Mixster <https://mixstersite.wordpress.com/> | Github
<https://github.com/vipulgupta2048>

[2018-03-28 15:35] Hrishi1999 commented on #102
I could make the script if needed

On Wed, Mar 28, 2018 at 3:08 PM, Vipul Gupta <notifications@github.com>
wrote:

[2018-03-28 16:21] vipulgupta2048 commented on #102
Didn't you make the script when you actually made this list? Surely you
wouldn't have found them all by manually going through each repo. I will
post a link soon though. We can both collaborate on it. 😊

[2018-03-28 18:10] Pro-Panda commented on #102
@vipulgupta2048,
[this](https://gist.github.com/Pro-Panda/0e96e9011fd118e684ff93fd972299de) might be of help. You may modify the `is_activity` function to look for readme files

[2018-03-30 12:55] vipulgupta2048 commented on #102
@quozl @Pro-Panda **Update**
- The [script](https://gist.github.com/vipulgupta2048/6eef7de43ac628e8e7ed11217fbb1803) is now complete. The script uses PyGithub. Took me some time to make, couldn't figure out the documentation. @Pro-Panda's script helped a lot. Thanks.
- The results are stored [here](https://github.com/vipulgupta2048/dotvfiles/blob/master/Sugar_Scripts/Results.txt), should I make a

[2018-03-30 13:03] vipulgupta2048 commented on #102
Also, **Report**.
- 161 Activities hosted on GitHub under SugarLabs, doesn't have a README.md
 - So, as part of [my project.](https://wiki.sugarlabs.org/go/WikiPort) a little less than 345 pages need to be migrated to their corresponding Github repositories (161 in number) _Considering everything is on Github_
- And I just completed my **one time task** of finding GitHub repositories by using GitH

[2018-03-31 00:17] quozl commented on #102
Thanks, that's interesting, but I'm not sure how useful it is;

* activities are most commonly known by their `name` in `activity.info`, so a list of repositories is hard to read for most of us familiar with the collection,
* it is a snapshot in time, with no prior history; we cannot see any progress, (there were 92 listed in @Hrishi1999's initial post),
* doesn't say what proportion of activities

[2018-04-01 19:17] vipulgupta2048 commented on #102
- I do know about the Fructose set of activities. I can implement the changes in the script accordingly. Thanks for the insights. Gotta see what I can get from the API.
- Maybe if the consensus reaches faster, we can be more considerate towards the migration of activities and not just blindly copy. I do agree with your point that we might not be the right people, but then we (or I) am willing to b

[2018-04-04 06:16] quozl commented on #145
https://github.com/sugarlabs/sugar-docs/blob/master/src/python-porting-guide.md

[2018-04-04 06:16] #145 closed

[2018-04-04 06:17] quozl opened #149 "Port to GTK+ 3 Guide"
Migrate from Wiki.
https://wiki.sugarlabs.org/go/Features/GTK3/Porting

[2018-04-04 08:42] rdrsadhu commented on #149
The script I've been developing for migrating the Activities wiki-pages shall help?

Let me know,
which exact pages to migrate
anything else, which will help to perform the migration

[2018-04-04 09:41] quozl commented on #149
Also needs updating, for which experience with porting from GTK+ 2 to GTK+ 3 will be critical.

[2018-04-05 05:35] Pro-Panda commented on #149
I am updating the guide in the wiki itself, which can be migrated after that

[2018-04-06 13:02] yashagrawal3 commented on #149
@Pro-Panda can we coordinate on this?

[2018-04-06 13:27] Pro-Panda commented on #149
@yashagrawal3, I have almost completed updating the guide, and will complete it in ~4 hours. It can then be migrated to `sugar-docs`

[2018-04-06 13:31] yashagrawal3 commented on #149
@Pro-Panda great! I will look if I can add anything.
Thanks!

[2018-04-06 17:26] Pro-Panda commented on #149
@rdrsadhu

1. https://wiki.sugarlabs.org/go/Features/GTK3/Porting
2. And the following examples(They are present as links in the bottom of the page):
  - https://wiki.sugarlabs.org/go/Features/GTK3/Porting/Finance
  - https://wiki.sugarlabs.org/go/Features/GTK3/Porting/GetBooks
  - https://wiki.sugarlabs.org/go/Features/GTK3/Porting/Implode
  - https://wiki.sugarlabs.org/go/Features/GTK3/Porting/I

[2018-04-07 03:49] rdrsadhu commented on #149
#150
Please review.

[2018-04-09 06:42] vipulgupta2048 commented on #96
@quozl Hey, what do you think? We will be going through so many activities in the project. We can develop a wireframe or a proposed format for new activities. This helps in making documentation of future activities more consistent and easier to understand by users and developers alike. Also, the parts that are necessary to include in the documentation.
We can add a format link [here](https://githu

[2018-04-09 07:04] quozl commented on #96
Sorry, I don't remember which of the projects you refer to,

We have a severe lack of activity maintainers; developers who follow the two checklists in [Contributing - Modifying Activities](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#modifying-activities).  I'm loath to demand anything more of these developers, such as defining standards for documentation of an activity

[2018-04-09 11:44] deejoe opened #151 "sugar-build still mentioned in sugar-docs/src/desktop-activity.md"
As per discussions in, for instance, #132 and #95, sugar-build is no longer maintained, so reference to it in developer docs should probably be removed.

[2018-04-09 11:46] deejoe commented on #151
Sorry not to have included a link. This is in the current:

https://github.com/sugarlabs/sugar-docs/blob/master/src/desktop-activity.md

[2018-04-09 23:12] quozl commented on #151
Agreed.  Also these references;

https://github.com/sugarlabs/sugar-docs/blob/master/src/how-can-i-help.md
https://github.com/sugarlabs/sugar-docs/blob/master/src/web-activity.md
https://github.com/sugarlabs/sugar-docs/blob/master/src/web-style.md

Alternatively, someone might maintain sugar-build.  Big job.

[2018-04-10 03:15] tony37 commented on #151
It appears that our community has its own alternate facts:

"Most Sugar desktop activities are written in Python 3, using our GTK+
3.0 <https://github.com/sugarlabs/sugar-toolkit-gtk3> libraries."

The Human Interface Guidelines explicitly deprecate the 'desktop' metaphor:

"Most developers are familiar with the desktop metaphor
<http://en.wikipedia.org/wiki/Desktop_metaphor> that dominates the
mo

[2018-04-10 03:29] quozl commented on #151
TL;DR

[2018-04-26 04:55] quozl commented on #149
https://github.com/sugarlabs/sugar-docs/pull/150 did improve, but did not fully fix this issue.

Examples are yet to be moved.

[2018-04-26 05:00] Pro-Panda commented on #149
We removed the individual examples after observing that they don't contain anything useful to add to the main page [[Ref]](https://github.com/sugarlabs/sugar-docs/pull/150#issuecomment-379628802). Should they be incorporated in a different manner ?

[2018-04-26 05:08] quozl commented on #149
Okay, thanks.  Discussion split between issue and pull request was cause of my confusion.

[2018-04-26 05:08] #149 closed

[2018-04-27 12:48] vaibhavdaren opened #152 "link not working"
The hyperlink to the guide in this section is not working.
https://github.com/sugarlabs/sugar-docs/blob/master/src/how-can-i-help.md#-coding-documentation-and-quality-assurance
You can port activities which are in GTK+ 2 to GTK+ 3, using the guide.
You can port activities which are in Python 2 to Python 3, using the guide.
It is showing 404  page not found error.
The old links are not working plea

[2018-04-27 21:38] #152 closed

[2018-05-12 00:27] quozl opened #154 "Review and improve GTK+ 3 porting workflow"
https://github.com/sugarlabs/sugar-docs/blob/master/src/gtk3-porting-guide.md#how-to-port-a-sugar-activity-to-gtk-3 has a brief workflow for porting activiites.

@yashagrawal3, you may be interested in reviewing and improving this workflow.

Reference: http://meeting.sugarlabs.org/sugar-meeting/2018-05-11#i_2924905

[2018-05-18 12:36] hacktivist123 commented on #129
*Hello,

 Thank you for Subscribing to the Newsletter, Sorry it took a while before the first Issue came in.

 Anyways, I happy to say that we've launched. *

 *Lets Get Down to Business:*
   - We all know Most Developers In t he Industry like Macbook pros, Including Moi. I found an Article online that I think you should see; https://hackernoon.com/why-developers-should-not-use-macbook-pro-3b6a4ae

[2018-05-18 13:44] chimosky commented on #129
@hacktivist123 it seems this comment was a mistake, do you mind deleting it?

[2018-05-24 21:06] quozl commented on #149
Our [GTK+ 3 Porting Guide](https://github.com/sugarlabs/sugar-docs/blob/master/src/gtk3-porting-guide.md) is for developers and has been moved from the Wiki so that it can be maintained by developers.  Users should contact their integrator or build supplier.  Anyone still using Sugar 0.82 should avoid installing any recently developed activities, as they won't work.

[2018-07-24 13:14] pg07codes opened #158 "cannot serve locally"
i am unable to serve sugarlabs.org locally using bundle exec jekyll serve --incremental

![image](https://user-images.githubusercontent.com/34238240/43140258-305fe1bc-8f71-11e8-8804-465728cb2bb8.png)

it would  be very much appreciated if anyone could help me out.  " i am working on slow loading(speed) issue of the website"

P.S. its not the apt place to ask such a problem but i was unable to find

[2018-07-24 22:46] quozl commented on #158
Interesting, thanks.  My best guess is that Jekyll has changed and our source files have to change and have not yet done so.  I don't know how to solve it, but if I were doing so I would read the source code of Jekyll and find out what the error means.

Please use copy and paste of the error text in future, so that mail and github search can find the error.  This helps people who may have the same

[2018-07-25 03:08] #158 closed

[2018-09-23 09:52] ritwikagarwal commented on #142
Is this issue resolved?Seems to be !If not I can take up this if you want!

[2018-09-23 11:16] walterbender commented on #142
It is not resolved. It would be great to be able to access all of the web-enabled activities this way (including Music Blocks).

[2018-10-02 09:20] singhalkirtika opened #162 "Provide communication channel link for contributors."
The link to the communication channel ( whether gitter or IRC) will be important for beginners who want to contribute to the organization and want some help from the current mentors and other contributors.

[2018-10-03 09:56] quozl commented on #162
IRC is clearly mentioned in two files here; what do you mean, that it’s hard for you to find, or that you couldn’t get anyone to answer in IRC?

[2018-10-03 12:56] singhalkirtika commented on #162
Sorry for that as I didn't check the contact file.

[2018-10-03 12:56] #162 closed

[2018-10-11 05:35] vipulgupta2048 commented on #102
I think this issue can be closed as most of the README's inside activity repos have been created by @rdrsadhu, the ones that are not made can be listed as issues that in their own repositories.

[2018-10-11 09:49] quozl commented on #102
Plenty of activities without README.md files, still.  It's not a problem with _sugar-docs_, but @walterbender wanted it logged here.  I'll defer to him.

[2018-10-17 17:29] GouravSardana opened #168 "SugarSocial"
What are the features you want to add to sugarsocial?

[2018-10-17 22:09] quozl commented on #168
Users.  In the form of active developers of Sugar.

[2018-10-17 22:11] #168 closed

[2018-10-24 05:18] quozl commented on #102
No response, so I'll close.

[2018-10-24 05:18] #102 closed

[2019-03-03 21:23] ahmedkrmn opened #174 "Link to the developer docs on sugarlabs/sugar-web is broken"
The link to the developer docs on [sugarlabs/sugar-web](https://github.com/sugarlabs/sugar-web) readme file needs to be updated to [sugarlabs/sugar-docs](https://github.com/sugarlabs/sugar-docs/blob/master/README.md) instead of https://developer.sugarlabs.org which shows this alert:
![capture](https://user-images.githubusercontent.com/20889958/53702000-2b16fd00-3e0b-11e9-8c9f-7bb79ce19318.PNG)

[2019-03-18 18:14] quozl commented on #91
`dist_xo` does not need to use `.gitignore`, as it already uses `git` to list the files, if the directory is a git clone.

(Some activities, notably Help and Wikipedia, probably have to be bundled by copying a git clone because they generate files during a make step, but these are not handled properly by dist_xo.)

[2019-03-19 13:09] #91 closed

[2019-03-22 09:22] Aniket21mathur commented on #93
I think now we need "How to use TelepathyGLib" docs instead.

[2019-03-22 19:29] quozl commented on #93
We used to leave that to the Telepathy project, and we did have people who contributed to both Sugar and Telepathy.  Telepathy contains some features specific to Sugar.  But the Telepathy project has slowed down; the number of commits to Telepathy is below one per year.  Documentation is available from Telepathy project, but it isn't up to the standards we are used to with other libraries.  Best w

[2019-03-23 10:21] Aniket21mathur opened #178 "Broken link"
Second point in port to python 3 guide.
Use the Python 3 version of Sugar Toolkit GTK+ 3 (currently under development, here).
On clicking on here results in page not found.

[2019-03-25 01:39] #178 closed

[2019-06-05 19:18] pratikshekhar opened #180 "Registering New Account On Trac Requires "Parole""
**What**
Registering New Account On Trac Requires ` "Parole"`

**Why**
As a new user, I'm trying to register a `new trac account` at (https://bugs.sugarlabs.org/register) as instructed on the `BugSquad/Bug Report` (http://wiki.sugarlabs.org/go/BugSquad/Bug_Report)  wiki page to create a query, but there's a `"Parole"` required that I'm unable to find even with a hint (attached screenshot). This is

[2019-06-05 21:53] quozl commented on #180
@pratikshekhar, please use GitHub issues to report problems with Sugar.  Few people remain who use trac.  You only need an account for trac if you are working on tickets in trac.  Few people have worked on these issues in the past two years, so it is hard to justify keeping it available.

@fgrose, @walterbender, do you have the parole answer somewhere?  I've searched, and could not find it.  It wa

[2019-06-05 22:03] walterbender commented on #180
I recall having to approve new accounts by hand. Not sure about "parole". I also referred @pratikshekhar to GH issues.

[2019-06-05 22:15] quozl commented on #180
@walterbender, thanks, please confer that capability on my account?

[2019-06-05 22:29] pratikshekhar opened #181 "No Template for writing an issue in contributing.md"
**What**
No Template for writing an issue in contributing.md file.

**Why**
As a new user, I can't find any template on how to write/report an issue, in order to follow best practices for documenting an issue.

**Link(s) to documentation/specs**
https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md?fbclid=IwAR09iMb540v7ZY41-LYLR7BkVuCyZsslAW6__1QJ1H-gOI2NahywNsb1gHw#workflow

**N

[2019-06-05 22:37] FGrose commented on #180
This seems to be a puzzle.  Search in the SugarLabs wiki to find the page 'FindTheGoldInThePot'.  There are more than 4 words on the second line, but pasting the full line seemed to have some effect in detecting that I already have an account.  Some experimentation would probably find the necessary answer.

This page was created on 25 March 2017 by Samuel Cantero.

[2019-06-05 23:07] quozl commented on #180
That was the one, thanks.  When I search for "gold" on the Wiki, I don't get that page.  I think the search results have changed without the page changing.

[2019-06-05 23:10] quozl commented on #180
@scanterog, drawing your attention to this issue for your interest.

[2019-06-05 23:24] quozl commented on #181
Thanks for the issue.

However, I don't think this is a problem worth fixing.  A template wastes a lot of time, both of the people who prepare it, and the people who try to answer it.  If you can't communicate a problem using international English, a template isn't going to help you much.  It will harm instead; it will deceive you into only answering the template headings, and not thinking through

[2019-06-06 01:56] walterbender commented on #180
Done. You are trac admin.

[2019-06-06 03:21] quozl commented on #180
@walterbender, thanks, verified.

@pratikshekhar, this all seems resolved, any remaining questions?

[2019-06-06 04:41] pratikshekhar commented on #180
@quozl, @walterbender, @FGrose  - Thanks so much for all your help. No remaining questions.

[2019-06-06 07:30] #180 closed

[2019-06-07 03:16] Aniket21mathur commented on #181
Thanks. I agree with @quozl.

[2019-07-06 05:15] Aniket21mathur commented on #93
Now we have switched to TelepathyGLib, using dbus calls instead of telepathy calls, so our documentation may include -
* How to make a dictionary of interfaces using dbus.
* Using constants from TelepathyGLib.
Need suggestions!

@quozl can this issue be related to https://github.com/sugarlabs/sugar-toolkit-gtk3/issues/417?

[2019-07-06 05:42] quozl commented on #93
You have demonstrated how to do that.  You might add it to the Port to Python 3 page?

Same.

No.  The issue there is with the automatically generated documentation which comes from the docstrings in the source.  The source hasn't got any significant inline documentation, especially when compared with the Activity class which has a lot.

[2019-07-06 05:48] Aniket21mathur commented on #93
Thanks. Agreed!

[2019-07-06 09:43] #181 closed

[2019-07-08 23:19] #93 closed

[2019-08-21 03:28] quozl opened #184 "Improve Python 3 porting guide"
After running `2to3`, there is no other guidance.  There may be common patterns of change that are required.  These can be added to the guide.

@Aniket21mathur, as an opportunity.

[2019-10-12 02:18] sanjaymaniam opened #185 "Lingering link"
http://write.flossmanuals.net/make-your-own-sugar-activities/setting-up-a-development-environment/ links to http://developer.sugarlabs.org/, which is a dead link.

[2019-10-12 03:16] quozl commented on #185
@jdsimmons, Sugar Labs doesn't have direct control of that page, is it something you can fix?  Also, _sugar-build_ is deprecated; it doesn't work because it hasn't been maintained.

[2019-10-12 12:31] cyphysan commented on #185
@quozl Alright, thanks for pointing it out. Also, would you recommend anything a "good first issue" for a beginner to work on? I'd be happy to be of help :)

[2019-10-13 20:06] quozl commented on #185
Thanks for asking.  Subscribe to our mailing list, and in the archives read my [How to get started as a Sugar Labs developer](http://lists.sugarlabs.org/archive/sugar-devel/2019-September/057182.html) and especially this section;

I've looked at your public GitHub commits and found some work with Python.  If Python is your preference, then Sugar is where to concentrate your effort.

I'll mark thes

[2019-10-14 03:53] cyphysan commented on #185
Thank you! Will keep that in mind next time,

[2019-10-14 04:03] quozl commented on #185
The problem remains; there's a link from @jdsimmons work to developer.sugarlabs.org which could change to GitHub.  Re-opening.

[2019-10-16 12:33] walterbender opened #186 "coding style for JavaScript"
we have a coding style guide for Python: https://github.com/sugarlabs/sugar-docs/blob/master/src/python-style.md but not for JavaScript.

[2019-10-21 04:17] jamesjee commented on #186
I want to contribute but no one is responding on irc channel

[2019-10-21 04:31] quozl commented on #186
On IRC, I've seen someone join and leave, I've never seen them say anything;

[code]

Perhaps you aren't properly registered on IRC or you are not hitting enter.

I don't think IRC is the best place to contribute.  Almost nobody is using it.

[2019-10-21 04:46] jamesjee commented on #186
Is there any better way to communicate with the mentors(except irc)?

On Mon, Oct 21, 2019, 10:01 AM James Cameron <notifications@github.com>
wrote:

[2019-10-21 04:58] quozl commented on #186
It depends on which mentor you wish to communicate with, and why.

If you're asking about our mentors for Google Summer of Code 2019, they met weekly on IRC, and were contacted by e-mail.

If you're asking about our mentors for [Google Code-in 2019](https://wiki.sugarlabs.org/go/Google_Code_In_2019), based on the [Timeline](https://developers.google.com/open-source/gci/timeline) I wouldn't expect

[2019-12-05 10:39] b18050 commented on #184
i will like to work on this . please help me to start with this.

[2019-12-05 22:03] quozl commented on #184
It depends on experience in the task.  Have you ported any Sugar activities to Python 3 yet?  Do that first.

[2019-12-09 14:14] srevinsaju commented on #142
See https://srevinsaju.github.io/sugar-docs/ for a similar implementation of the docs repo

[2020-01-08 04:45] quozl commented on #94
https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#testing recently added.

[2020-02-20 13:21] amanpro30 commented on #186
I want to take up this task

[2020-02-20 21:15] quozl commented on #186
Thanks for the offer, but we don't allocate tasks.

As we say in https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md

If we were allocating tasks, I'd say; hang on, you haven't done any coding of JavaScript in Music Blocks or Sugarizer, how could you write something that both fits our style and leads it forward?  Get lots of experience as a contributor to Music Blocks and Sugar

[2020-03-13 09:15] josharsh opened #196 "File "setup.py", line 3, in <module> from sugar3.activity import bundlebuilder ModuleNotFoundError: No module named 'sugar3'"
File "setup.py", line 3, in <module>
    from sugar3.activity import bundlebuilder
ModuleNotFoundError: No module named 'sugar3'

[2020-03-13 12:42] chimosky commented on #196
Hi @josharsh. how did you install sugar?

[2020-03-13 21:02] quozl commented on #196
The error means that the sugar3 module is not installed for the version of Python being used to run the file setup.py.  In a system with mixed versions of Python, you can test on the command line if the sugar3 module is installed;

[code]

Both of these should complete without error.  If there is an error, it must be resolved before running setup.py.

[2020-10-29 16:37] saurabhhere opened #201 "Showing 'Internal Error' in Get Involved Link on Sugarlabs wiki page"
Link to regenerate error:
https://wiki.sugarlabs.org/go/Sugar_Labs/Getting_Involved

Preview of Error:

![Screenshot from 2020-10-29 22-03-12](https://user-images.githubusercontent.com/60233336/97603870-dd64f480-1a32-11eb-8f75-e767d5e8b399.png)

[2020-10-29 23:42] quozl commented on #201
@codewiz is this something you broke when upgrading wiki.sugarlabs.org? :grinning:

[2020-10-30 07:19] srevinsaju commented on #201
uh oh. Sorry, will fix now

[2020-10-30 07:34] srevinsaju commented on #201
@quozl @saurabhhere Thanks for reporting. Fixed now :smile:

[2020-10-30 07:43] quozl commented on #201
Yay.

[2020-10-30 07:43] #201 closed

[2020-12-25 14:35] prabhsharan36 commented on #186
Hi,
I would like to work on this task.

[2020-12-25 23:20] quozl commented on #186
Sorry, issue was left open despite https://github.com/sugarlabs/sugar-docs/blob/master/src/javascript-style.md being added.

[2020-12-25 23:20] #186 closed

[2021-02-25 14:37] AtharvaParkale commented on #154
I would like to work on this issue.

[2021-02-25 15:41] chimosky commented on #154
Hi @AtharvaParkale, feel free to open a PR with your changes.
You can also check out our [CoC](https://github.com/sugarlabs/sugar-docs/blob/master/src/CODE_OF_CONDUCT.md).

[2021-11-15 16:15] KanishkKhurana commented on #185
hey @quozl
is this issue resolved?
if not then i am eager to give this a go !
i am new to open source and would love to contribute

[2021-11-15 16:32] chimosky commented on #185
Hi @KanishkKhurana, welcome to Sugar Labs, the issue seems to still be open but the issue mentioned in the opening comment has been fixed but I don't understand @quozl's last comment as we don't have control over the page so I don't think anything can be changed on our end.

You might also want to take a look at [How to get started as Sugar Labs developer](http://lists.sugarlabs.org/archive/sugar-

[2021-11-15 17:57] KanishkKhurana commented on #185
thank you so much for all this help  @chimosky  , i will do my research and start contributing soon.

[2021-11-16 06:09] quozl commented on #185
Fixing developer.sugarlabs.org so that it works again is an infrastructure task rather than a GitHub coding task.

Alternatively, fixing the Floss Manuals page would also reduce the problem.

Although we don't control it, that doesn't mean we cannot control it.

[2021-11-16 12:01] chimosky commented on #185
I agree re fixing developer.sugarlabs.org but I don't know who took it down, @srevinsaju any ideas?
The floss manuals page currently opens so that helps.

[2021-11-16 12:12] srevinsaju commented on #185
Actually, its not down, https://developer.sugarlabs.org/sugar3/ still works, but I think https://developer.sugarlabs.org should redirect to some useful page, what do you say?
Maybe, we should add an `index.html` under https://github.com/sugarlabs/sugar-toolkit-gtk3/tree/gh-pages which can do a [meta http-refresh](https://www.w3docs.com/snippets/html/how-to-redirect-a-web-page-in-html.html#how-to-r

[2021-11-16 13:29] quozl commented on #185
Well done, sounds good, and much easier.

[2021-11-16 15:11] chimosky commented on #185
Yeah I agree.

[2021-11-17 21:34] KanishkKhurana commented on #185
Hi @srevinsaju , i am a beginner to open source but I'd really like to contribute to this issue and help fix it.
Can I try solving this? If yes, please tell me what steps I should take.
Thank you!

[2021-11-18 04:22] quozl commented on #185
Thanks, but our agreed solution is not one suitable for a contributor who is not empowered already with infrastructure access, and granting that access is something the team does only after a long association that demonstrates safety and accountability.  Go find something else to do, and don't only concentrate on problems that have been reported.  There are many problems not reported.  No, I'm not

[2021-11-21 06:38] srevinsaju commented on #185
I have attempted a fix over here: https://github.com/sugarlabs/sugar-toolkit-gtk3/pull/459, looks like I had the code to do that earlier (minus the redirect), but it was just saved to the wrong location :facepalm:, in the same PR, let me know if we need to add redirects as we told earlier. One benefit of adding a redirect is that, users directly hop over to github and we will not need to worry abo

[2021-11-21 06:41] quozl commented on #185
Thanks.  I merged it.  When should we expect it to take effect?

[2021-11-21 07:21] srevinsaju commented on #185
Unfortunately, the CI builds were failing, I created an MR sugarlabs/sugar-toolkit-gtk3#460, which would fix this, once the CI shows green, it would be immediately be deployed (the CI takes around 2-3 minutes to complete)

[2021-11-21 08:22] quozl commented on #185
Yay.

[2021-11-21 08:22] #185 closed

[2022-02-02 11:13] AniruddhaGawali commented on #142
can I help to resolve this issue, can you help how should it start should i used react.js or simple html-js files for doing this

[2022-02-03 10:00] chimosky commented on #142
Hey @AniruddhaGawali, I don't know if you went through the earlier comments but you should if you didn't as it does answer your question and about what to use, I think it'll be easier to use what you consider would be best for the issue and open a PR clearly stating why you used that method then a discussion can be started.

For how to start, you might want to take a look at [creating a github pag

[2022-02-04 15:58] AniruddhaGawali commented on #142
@chimosky i guess this issue has be solved

[2022-02-05 09:21] chimosky commented on #142
No it hasn't been solved.

[2022-02-07 07:03] Ayush7614 opened #213 "Github Action Bot Prosebot"
GitHub Bots Integration
Check for Spelling Errors in the Docs
Check For Grammatical errors
Provide an easy way for documentation
Analyze prose , text in markdown files

[2022-02-07 07:05] Ayush7614 commented on #213
cc @walterbender
and i see in none of the repository of sugar labs github action was there so i implement github actions in all the repo of sugar labs can i do ?

[2022-02-07 07:22] quozl commented on #213
Only for repositories that have more than one commit per hour on average.  None of the Sugar Labs repositories come close to that rate of development.  It is a waste and lots of notification noise otherwise, for little benefit.  Better to check your spelling.

Again, as I told you on the other repository, please put all your text in one comment box rather than send three at a time.

[2022-02-07 07:22] #213 closed

[2022-03-27 08:29] sarthak0527 commented on #94
Is this issue resolved , if not I would like to try to resolve this issue.